.nequi-float{
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 100px;
    right: 25px;
    background: #210049;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 999;
    transition: all 0.3s ease;
}

.nequi-float:hover{
    transform: scale(1.1);
    background: #3b007a;
    color: white;
}