/* ===========================================================  */
.container{
    width: 100%;
    background-color: rgb(255, 255, 255); 
    display: flex;
} 

.container div{

    flex: 1;
} 



/* read productos  */
.descripcion-corta{
    max-width: 200px;     
    white-space: nowrap;   
    overflow: hidden;      
    text-overflow: ellipsis; 
}

.text-sumary{
color: var(--primary-dark);
}

.cantidad{
    margin-left: 27%;
    margin-right: 27%;
}




































/* agregar usuarios  */
